$navbar-item-navbar-link-color: $primary-invert !default;
$navbar-item-grid-item-border-color: #d9dde1 !default;
$navbar-item-has-dropdown-active: $primary-invert !default;
$navbar-item-dropdown-accent-color: $primary-dark !default;
$navbar-item-navbar-active-bg-color: $primary !default;

.primary-nav {
    @include list-reset;
    font-family: $family-secondary;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .navbar-item {
        padding: $theme-spacing-three-quarters 0;
        border-bottom: 5px solid transparent;
        white-space: normal !important;
        overflow-wrap: break-word;
        word-break: break-word;
        word-wrap: break-word;
        hyphens: auto;

        &--trigger-only {
            .navbar-dropdown__parent-link {
                display: none !important;
            }
        }

        .navbar-dropdown-control {
            color: $navbar-item-navbar-link-color;

            > .dropdown-toggler {
                color: inherit;
            }

            .icon {
                color: inherit;
                fill: currentColor;
                vertical-align: middle;
            }
        }

        &.current-menu-item,
        &.current-menu-parent {
            background: $navbar-item-navbar-active-bg-color !important; // sass-lint:disable-line no-important
            border-bottom-color: $navbar-item-navbar-link-color;
        }
    }

    .navbar-item__single > a {
        color: inherit;
    }

    > .navbar-item,
    > .has-dropdown > div > .navbar-link {
        font-size: 1rem;
        font-weight: 600;
        padding-right: 1rem;
        padding-left: 1rem;
        color: $navbar-item-navbar-link-color !important; // sass-lint:disable-line no-important
        background-color: transparent !important; // sass-lint:disable-line no-important

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    > .has-dropdown {
        &.is-active,
        &:hover,
        &:focus {
            > div > .navbar-link {
                color: $navbar-item-has-dropdown-active !important; // sass-lint:disable-line no-important
            }
        }
    }

    &--dropdown {
        .navbar-link.dropdown-trigger {
            padding-right: .75rem !important; // sass-lint:disable-line no-important
        }

        .has-dropdown {
            position: relative;
        }

        .dropdown-toggler {
            margin-right: 0 !important; // sass-lint:disable-line no-important
            padding: .625rem;
        }

        .navbar-dropdown {
            width: 220px !important;
            margin-top: $theme-spacing-half !important;
            min-width: auto !important;
            border-top: none !important;
            background-color: $white !important;
            border-radius: .75rem;
            padding: 3rem 0 2rem;
            box-shadow: 0 .0588rem .5rem rgba($black, .1); // sass-lint:disable-line no-color-literals

            @include from($desktop) {
                padding: $theme-spacing !important;
            }

            &__parent-link {
                display: none !important;
            }

            .icon {
                fill: $navbar-item-dropdown-accent-color;
            }

            .navbar-dropdown-items {
                .navbar-item {
                    padding: $theme-spacing-half !important;
                }
            }
        }

        .navbar-grid {
            font-size: .8823rem;
            font-weight: 600;
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            grid-column-gap: $gap;
            text-transform: none;
            list-style: none;
            padding-left: 0;

            .navbar-item {
                padding: 1.411rem 0;
                border-bottom: 2px solid $navbar-item-grid-item-border-color;

                &:hover,
                &:focus {
                    background-color: transparent;
                }

                &.current-menu-item {
                    text-decoration: underline;
                }
            }
        }
    }
}
