.has-background-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.has-background-transparent {
    background-color: transparent !important; // sass-lint:disable-line no-important
}

.has-background-secondary {
    &--opaque {
        background-color: rgba($secondary, .5) !important;
    }
}

.has-background-white {
    .button {
        &,
        &:hover,
        &:focus {
            background-color: $color-muumi-black !important;
            border-color: $color-muumi-black !important;
            color: $color-white !important;
        }
    }
}

.has-background-gray {
    background-color: $color-muumi-gray;
    color: $color-white;

    .button {
        &,
        &:hover,
        &:focus {
            background-color: $color-muumi-black !important;
            border-color: $color-muumi-black !important;
            color: $color-white !important;
        }
    }
}

.has-background-blue {
    background-color: $color-muumi-blue;
    color: $color-white;

    .button {
        &,
        &:hover,
        &:focus {
            background-color: $color-muumi-black !important;
            border-color: $color-muumi-black !important;
            color: $color-white !important;
        }
    }
}

.has-background-bluegray {
    background-color: $color-muumi-bluegray;
    color: $color-muumi-black;

    .button {
        &,
        &:hover,
        &:focus {
            background-color: $color-muumi-blue !important;
            border-color: $color-muumi-blue !important;
            color: $color-white !important;
        }
    }
}

.has-background-gray {
    background-color: $color-muumi-gray;
    color: $color-white;

    .button {
        &,
        &:hover,
        &:focus {
            background-color: $color-muumi-black !important;
            border-color: $color-muumi-black !important;
            color: $color-white !important;
        }
    }
}

.has-background-magenta {
    background-color: $color-muumi-magenta;
    color: $color-white;

    .button {
        &,
        &:hover,
        &:focus {
            background-color: $color-muumi-black !important;
            border-color: $color-muumi-black !important;
            color: $color-white !important;
        }
    }
}

.has-background-pink {
    background-color: $color-muumi-pink;
    color: $color-black;

    .button {
        &,
        &:hover,
        &:focus {
            background-color: $color-muumi-black !important;
            border-color: $color-muumi-black !important;
            color: $color-white !important;
        }
    }
}

.has-background-light-pink {
    background-color: $color-muumi-light-pink;
    color: $color-black;

    .button {
        &,
        &:hover,
        &:focus {
            background-color: $color-muumi-black !important;
            border-color: $color-muumi-black !important;
            color: $color-white !important;
        }
    }
}

.has-background-yellow {
    background-color: $color-muumi-yellow;

    .button {
        &,
        &:hover,
        &:focus {
            background-color: $color-muumi-black !important;
            border-color: $color-muumi-black !important;
            color: $color-white !important;
        }
    }
}

.has-background-green {
    background-color: $color-muumi-green;

    .button {
        &,
        &:hover,
        &:focus {
            background-color: $color-muumi-black !important;
            border-color: $color-muumi-black !important;
            color: $color-white !important;
        }
    }
}

.has-background-lightgreen {
    background-color: $color-muumi-lightgreen;

    .button {
        &,
        &:hover,
        &:focus {
            background-color: $color-muumi-black !important;
            border-color: $color-muumi-black !important;
            color: $color-white !important;
        }
    }
}

.has-background-orange {
    background-color: $color-muumi-orange;

    .button {
        &,
        &:hover,
        &:focus {
            background-color: $color-white !important;
            border-color: $color-white !important;
            color: $color-muumi-black !important;
        }
    }
}

.has-background-pink {
    background-color: $color-muumi-pink;

    .button {
        &,
        &:hover,
        &:focus {
            background-color: $color-muumi-black !important;
            border-color: $color-muumi-black !important;
            color: $color-white !important;
        }
    }
}

.has-background-light-pink {
    background-color: $color-muumi-light-pink;

    .button {
        &,
        &:hover,
        &:focus {
            background-color: $color-muumi-black !important;
            border-color: $color-muumi-black !important;
            color: $color-white !important;
        }
    }
}

$shape-background-variants: "white", "yellow", "green", "lightgreen", "magenta", "pink", "light-pink", "orange", "blue", "bluegray", "gray";

@each $name in $shape-background-variants {
    .has-background-#{$name}:has(+ .has-background-#{$name}) {
        padding-bottom: 0;
    }
}

$color-background-primary-light--opaque-light: rgba($primary-light, .05) !default;
.has-background-primary-light {
    &--opaque-light {
        background-color: $color-background-primary-light--opaque-light !important;
    }
}
