.image-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__inner {
        position: relative;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    &__item {
        height: 100%;
    }

    &__items {
        .image-block__meta {
            max-width: 100vw;

            @include from($desktop) {
                max-width: $desktop;
            }
        }

        .image {
            height: 100%;
            width: 100%;
        }

        .slick-list,
        .slick-track,
        .slick-slide,
        .slick-slide > div {
            height: 100%;
        }

        .slick-track {
            display: flex;
            align-items: center;
        }

        .slick-list {
            height: auto;
            min-height: 500px;
            max-height: 800px;
            mask-image: url('../images/vector-image-gentle.svg');
            mask-repeat: no-repeat;
            mask-size: contain;
            mask-position: center;
            overflow: hidden;
        }

        .slick-slide img {
            height: 100% !important;
            min-height: 500px !important;
            max-height: 800px !important;
            width: 100% !important;
            max-width: 100% !important;
            object-fit: cover;
            object-position: center;
            display: block;
        }
    }

    &__modal-control {
        &.slick-arrow {
            background-color: $white;

            .icon {
                fill: $black;
            }

            &:hover {
                background-color: darken($white, 10%);

                .icon {
                    fill: $black;
                }
            }

            &:focus {
                outline-color: $white;
            }
        }
    }

    .slick-slider {
        margin-bottom: 0;
    }

    .slick-arrow {
        padding: .6rem;
    }

    @include from($desktop) {
        .slick-next {
            right: 2rem;
            transform: none;
        }

        .slick-prev {
            left: 4rem;
            transform: none;
        }
    }

    .slick-next {
        right: .5rem;
        transform: translateX(100%) translateY(-50%);
    }

    .slick-prev {
        left: .5rem;
        transform: translateX(-100%) translateY(-50%);
    }
}
