.layout-image-banner {
    display: flex;
    justify-content: center;

    @include from($tablet) {
        &.has-width-60 {
            .image-banner {
                width: 60%;
            }
        }
        &.has-width-85 {
            .image-banner {
                width: 85%;
            }
        }
    }

    .shape-slot {
        &::before {
            background-color: transparent;
        }
    }
}

.image-banner {
    padding: 0 !important;
}
