.layout-textblock {
    &.is-content-center {
        display: flex;
        justify-content: center;

        .textblock__inner {
            text-align: center;
        }
    }

    .textblock__inner {
        word-break: break-word;

        &.is-align-wide {
            @include from($tablet) {
                width: 75%;
            }
        }

        &.is-align-half {
            @include from($tablet) {
                width: 50%;
            }
        }
    }
}
